/* Variables from Style Tile */

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Underdog&display=swap");

:root {
   --color1: #1c191a;
   --color2: #efefef;
   --color3: #4b4b4b;
   --primColor:#aefb09;
   --secColor:#004a9e;
   --headingFont: "Underdog", cursive;
   --bodyFont: "Quicksand", sans-serif;
}

h1 {
   font-family: var(--headingFont);
}
p {
   font-family: var(--bodyFont);
   font-size: 1.2em;
   line-height: 1.5em;
}
a:link {
   text-decoration: none;
   
}
a{
  color:var(--primColor); 
}
a:hover {
   background-color: var(--primColor);
   color: var(--secColor);
}

main {
   background: var(--secColor);
   width: 50%;
   margin: 0 auto 0 auto;
   margin-top: 0px;
   margin-top: 90px;
   padding: 10px;
}
html {
   background: var(--color1);
}
audio {
   width: 100%;
}
